.add-error-option{
    color: $off-while;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}
.add-option {
    display: flex;
    padding: $m-size;
    flex-direction: column;
}
.add-option__input{
    background: $dark-blue;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    flex-grow: 1;
    margin-right: $s-size;
    color: $off-while;
    padding: $s-size;
}
@media (min-width: $desktop-breakpoint){
    .add-option {
        flex-direction: row;
    }
    .add-option__input{
        margin: 0 $s-size 0 0;
    }
}